* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e6e6e6;
}
.main-div {
  height: 712px;
  width: 540px;
}
.calc-div {
  height: 44px;
  background-color: black;
}
.display {
  height: 128px;
  background-color: #eeeeee;
  border-radius: 10px;
  margin-top: 35px;
  text-align: end;
  padding: 32px 25px;
  font-size: 56px;
  font-weight: bold;
}
.btn-div {
  height: 480px;
  background-color: #d2cdcd;
  margin-top: 24px;
  border-radius: 10px;
  padding: 29px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
button {
  height: 64px;
  width: 101px;
  border-radius: 10px;
  border: none;
  font-size: 40px;
  font-weight: bold;
}
.reseti {
  height: 64px;
  width: 227px;
  border-radius: 10px;
  font-size: 28px;
  font-weight: bold;
  color: #fff;
  background-color: #378187;
  border: none;
}
.toloba {
  background-color: #c85402;
}
.del {
  background-color: #378187;
  color: #fff;
}
