* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --bodycolor: #e6e6e6;
  --displaycolor:#eeeeee;
  --displaytextcolor: black;
  --btndivcolor:#d2cdcd;
  --resetcolor: #fff;
  --restbackground-color: #378187;
  --resetbox-shadow: 0 -4px #1b6066 inset;
  --toliabackground-color: #c85402;
  --toliabox-shadow: 0 -4px #873901 inset;
  --deletbackground-color: #378187;
  --deletcolor: #fff;
  --deletbox-shadow: 0 -4px #1b6066 inset;
  --calccolor:black;
}
.tema1{
  --bodycolor: #3A4663;
  --displaycolor:#181F33;
  --displaytextcolor: white;
  --btndivcolor:#242D44;
  --resetcolor: #fff;
  --restbackground-color: #647198;
  --resetbox-shadow: 0 -4px #414E73 inset;
  --toliabackground-color: #D03F2F;
  --toliabox-shadow: 0 -4px #93261A inset;
  --deletbackground-color: #647198;
  --deletcolor: #fff;
  --deletbox-shadow: 0 -4px #414E73 inset;
  --calccolor: white;
}
.tema2{
  --bodycolor: #17062A;
  --displaycolor:#1E0936;
  --displaytextcolor: #FFE53D;
  --btndivcolor:#331C4D;
  --resetcolor: #fff;
  --restbackground-color: #56077C;
  --resetbox-shadow: 0 -4px #BE15F4 inset;
  --toliabackground-color: #00DED0;
  --toliabox-shadow: 0 -4px #6CF9F1 inset;
  --deletbackground-color: #56077C;
  --deletcolor: #fff;
  --deletbox-shadow: 0 -4px #BE15F4 inset;
  --calccolor: #FFE53D;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background-color:var(--bodycolor);
}
.main-div {
  height: 712px;
  width: 540px;
}
.calc-div {
  height: 44px;
  color: var(--calccolor);
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.themediv {
  text-transform: uppercase;
  width: 142px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.h3 {
  font-size: 12px;
  font-weight: bold;
}
.num {
  display: flex;
  justify-content: space-around;
}
.thmbtn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 26px;
  width: 71px;
  background-color: #d2cdcd;
  border-radius: 13px;
}
.thmbtn span {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}
.span1 {
  background-color: #d03f2f;
  opacity: 0;
}
.span2 {
  background-color: #c85402;
  opacity: 1;
}

.span3 {
  background-color: #00ded0;
  opacity: 0;
}

.display {
  height: 128px;
  background-color:var(--displaycolor);
  color: var(--displaytextcolor);
  border-radius: 10px;
  margin-top: 35px;
  text-align: end;
  padding: 32px 25px;
  font-size: 56px;
  font-weight: bold;
  /* overflow:hidden; */
  /* text-overflow: ellipsis; */
}
.btn-div {
  height: 480px;
  background-color: var(--btndivcolor);
  margin-top: 24px;
  border-radius: 10px;
  padding: 29px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
button {
  height: 64px;
  width: 101px;
  border-radius: 10px;
  border: none;
  font-size: 40px;
  font-weight: bold;
  box-shadow: 0 -4px #a79e91 inset;
  cursor: pointer;
}
.reseti {
  height: 64px;
  width: 227px;
  border-radius: 10px;
  font-size: 28px;
  font-weight: bold;
  color: var(--resetcolor);
  background-color: var(--restbackground-color);
  border: none;
  box-shadow: 0 -4px var(--resetbox-shadow) inset;
}
.toloba {
  background-color: var(--toliabackground-color);
  box-shadow: 0 -4px var(--toliabox-shadow) inset;
}
.del {
  background-color: var(--deletbackground-color);
  color: var(--deletcolor);
  box-shadow: 0 -4px var(--deletbox-shadow) inset;
}
