* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e6e6e6;
}
.main-div {
  height: 712px;
  width: 540px;
}
.calc-div {
  height: 44px;

  display: flex;
  justify-content: space-between;
  align-items: end;
}
.themediv {
  text-transform: uppercase;
  width: 142px;

  display: flex;
  justify-content: space-between;
  align-items: end;
}
.h3 {
  font-size: 12px;
  font-weight: bold;
}
.num {
  display: flex;
  justify-content: space-around;
}
.thmbtn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 26px;
  width: 71px;
  background-color: #d2cdcd;
  border-radius: 13px;
}
.thmbtn span {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}
.span1 {
  background-color: #d03f2f;
  opacity: 0;
}
.span2 {
  background-color: #c85402;
  opacity: 1;
}

.span3 {
  background-color: #00ded0;
  opacity: 0;
}

.display {
  height: 128px;
  background-color: #eeeeee;
  border-radius: 10px;
  margin-top: 35px;
  text-align: end;
  padding: 32px 25px;
  font-size: 56px;
  font-weight: bold;
  /* overflow:hidden; */
  /* text-overflow: ellipsis; */
}
.btn-div {
  height: 480px;
  background-color: #d2cdcd;
  margin-top: 24px;
  border-radius: 10px;
  padding: 29px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
button {
  height: 64px;
  width: 101px;
  border-radius: 10px;
  border: none;
  font-size: 40px;
  font-weight: bold;
  box-shadow: 0 -4px #a79e91 inset;
  cursor: pointer;
}
.reseti {
  height: 64px;
  width: 227px;
  border-radius: 10px;
  font-size: 28px;
  font-weight: bold;
  color: #fff;
  background-color: #378187;
  border: none;
  box-shadow: 0 -4px #1b6066 inset;
}
.toloba {
  background-color: #c85402;
  box-shadow: 0 -4px #873901 inset;
}
.del {
  background-color: #378187;
  color: #fff;
  box-shadow: 0 -4px #1b6066 inset;
}
